flask
flask-cors
gunicorn
langchain
langchain-community
langchain-google-genai
google-generativeai
transformers
sentence-transformers
pypdf
chromadb
python-dotenv
werkzeug
schedule
torch
unstructured
pdf2image
pytesseract
layoutparser
pdfminer.six
pi_heif